// global Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600');

// font family
$family-primary: 'Open Sans', 'Arial', sans-serif;
$family-secondary: 'Nunito Sans', 'Nunito', 'Arial', sans-serif;

// weight
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 600;
$weight-lightbold: 650;
$weight-semibold: 700;
$weight-bold: 800;